<% if current_user.is_teacher? %>
<h1 class="aligncenter">Manage Your Classrooms</h1>
  <p>You have <%= pluralize(@classrooms.length, "classroom")%>.</p>
  <table>
    <thead>
      <th>Class Name</th>
      <th>Description</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @classrooms.each do |classroom| %>
      <tr>
        <td><%=classroom.name%></td>
        <td><%=classroom.description%></td>
        <td><%= link_to 'More Info', classroom %> | <%= link_to 'Edit', edit_classroom_path(classroom) %> |
        <%= link_to 'Delete', classroom, method: :delete, data: { confirm: 'Are you sure you want to delete the classroom? This cannot be undone.' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <a href="#" class="button aligncenter" id="classroom-button">Add a Classroom</a>
  <div id="create-classroom">
    <section class="row"  id="signup">
      <div class="small-12 large-4 small-centered large-centered column">
        <h3 class="aligncenter title">Create a Classroom</h3>
          <fieldset>
            <%= simple_form_for(@classroom) do |f| %>
                <div class="clearfix input">
                  <%= f.input :name %>
                </div>

                <div class="clearfix input">
                  <%= f.input :description %>
                </div>

                <div class="clearfix input aligncenter">
                  <%= f.button :submit, 'Create Classroom' %>
                </div>
              <% end %>
          </fieldset>
      </div>
    </section>
  </div>

<% else %>
  <h1 class="aligncenter">My Classes</h1>
  <p class="aligncenter">You are enrolled in <%= pluralize(@student_enrollments.length, "classroom")%>.</p>
  <table>
    <thead>
      <td>Name</td>
      <td>Description</td>
      <td>Teacher</td>
    </thead>
    <tbody>
    <% @student_enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.name%></td>
        <td><%= enrollment.description%></td>
        <td><%= enrollment.user.professional_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <a href="#" class="button aligncenter" id="enrollment-button">Enroll in a Classroom</a>
  <div id="enroll">
    <%= search_form_for @search do |f| %>
      <div class="field small-4 columns">
        <%= f.label :name_cont, "Classroom Name" %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="actions"><%= f.submit "Search"%></div>
    <% end %>
    <table id="search-results">
      <thead>
        <th>Class Name</th>
        <th>Description</th>
        <th>Teacher</th>
        <th>Enroll</th>
      </thead>
      <tbody>
        <% @classrooms.each do |classroom| %>
          <tr id='classroom_<%= classroom.id %>'>
            <td><%=classroom.name%></td>
            <td><%=classroom.description%></td>
            <td><%=classroom.user.professional_name %></td>
            <td>
              <% if classroom.enrolled?(current_user) %>
              Enrolled
              <% else %>
              <%= button_to '+', enrollments_path(classroom_id: classroom.id) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
