<h1>Manage Your Classrooms</h1>

<h2><%= link_to 'Create Classroom', new_classroom_path%></h2>
<table>
  <thead>
    <th>Class Name</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <tr>
    <% @classrooms.each do |classroom| %>
      <td><%=classroom.name%></td>
      <td><%=classroom.description%></td>
      <td><%= link_to 'More Info', '#'%> | <%= link_to 'Edit', '#'%> | <%= link_to 'Delete', '#'%></td>
    <% end %>
  </tr>
  </tbody>
</table>
