<h1 class="aligncenter">Manage Your Classrooms</h1>

<h4><%= link_to 'Create Classroom', new_classroom_path if current_user.is_teacher?%></h4>
<table class="aligncenter">
  <thead>
    <th>Class Name</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
  <tr>
    <% @classrooms.each do |classroom| %>
      <td><%=classroom.name%></td>
      <td><%=classroom.description%></td>
      <% if current_user.is_teacher? %>
      <td><%= link_to 'More Info', '#'%> | <%= link_to 'Edit', '#'%> | <%= link_to 'Delete', '#'%></td>
      <% end %>
    <% end %>
  </tr>
  </tbody>
</table>
