<h1 class="aligncenter">Manage Your Classrooms</h1>

<% if current_user.is_teacher? %>
  <h4><%= link_to 'Create Classroom', new_classroom_path%></h4>
  <table class="aligncenter">
    <thead>
      <th>Class Name</th>
      <th>Description</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @classrooms.each do |classroom| %>
      <tr>
        <td><%=classroom.name%></td>
        <td><%=classroom.description%></td>
        <td><%= link_to 'More Info', '#'%> | <%= link_to 'Edit', '#'%> | <%= link_to 'Delete', '#'%></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :name_cont, "Classroom Name" %>
      <%= f.text_field :name_cont %>
    </div>
    <div class="actions"><%= f.submit "Search"%></div>
  <% end %>

  <table class="aligncenter">
    <thead>
      <th>Class Name</th>
      <th>Description</th>
      <th>Teacher</th>
      <th>Enroll</th>
    </thead>
    <tbody>
        <% @classrooms.each do |classroom| %>
        <tr>
          <td><%=classroom.name%></td>
          <td><%=classroom.description%></td>
          <td><%=classroom.user.professional_name %></td>
          <td><%= link_to '+', '#'%></td>
      </tr>
        <% end %>
    </tbody>
  </table>

<% end %>
