<section class="row"  id="signup">
  <div class="small-12 large-4 small-centered large-centered column">
  <h3 class="aligncenter title">Create a Classroom</h3>
      <fieldset>
        <%= form_for(@classroom) do |f| %>
        <% if @classroom.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

            <ul>
            <% @classroom.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
          <div class="clearfix">
          <div class="input">
            <%= f.label :name %><br />
            <%= f.text_field :name %>
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.label :description %><br />
            <%= f.text_area :description %>
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.submit "Create Classroom" %>
          </div>
          </div>
        <% end %>
      </fieldset>
  </div>
</section>
