<h1><%= @classroom.name %></h1>
<p>You have <%= pluralize(@classroom.students.length, "student")%> enrolled.</p>
  <table class="aligncenter">
    <thead>
      <td>Name</td>
      <td>Remove Student</td>
    </thead>
    <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.full_name%></td>
        <td><%= button_to '-', enrollment_path(user_id: student.id), method: :delete, data: { confirm: 'Are you sure you want to delete this student? This cannot be undone.' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'Back to Classrooms', classrooms_path %>
