<div class="nested-fields">
  <div class="question-field">
    <%= link_to_remove_association '- Question', f %>
  </div>
  <div class="question-field">
    <%= f.input :prompt, label: 'Question' %>
  </div>

  <div class="question-field">
    <%= f.simple_fields_for :options do |option| %>
  </div>
    <div class="task_fields"><%= render 'option_fields', f: option %></div>
  <% end %>
   <div class="links">
   <%= link_to_add_association '+ Choice', f, :options %>
  </div>
</div>
