<h1 class="aligncenter">View All Assignments</h1>

<%= search_form_for @search do |f| %>
  <div class="field small-3 large-offset-1 columns">
    <%= f.label :title_cont, "Assignment Title:" %>
    <%= f.text_field :title_cont, placeholder: "Calculating the mean" %>
  </div>
  <div class="field small-3 columns">
    <%= f.label :created_at_gteq, "Beginning Date:" %>
    <%= f.text_field :created_at_gteq, class: "cal", placeholder: "January, 10th, 2014"%>
  </div>
  <div class="field small-3 columns">
    <%= f.label :created_at_lteq, "End Date:" %>
    <%= f.text_field :created_at_lteq, class: "cal", placeholder: "January, 12th, 2014" %>
  </div>
  <div class="actions"><%= f.submit "Search", class: "button"%></div>
<% end %>

<div class="assignment-table">
<table id="assignment-table-table">
  <thead>
    <th>Assignment Title</th>
    <th>Classroom</th>
    <th><%= sort_link(@search, :created_at, "Date Assigned") %></th>
    <th><%= link_to "Status", sort: 'status'%></th>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
    <tr>
      <td>
        <% if current_user.is_teacher? %>
          <%= link_to assignment.title, assignment%>
        <% else %>
          <%= link_to assignment.title, new_assignment_submission_path(assignment) %>
        <% end %>
      </td>
      <td><%= assignment.classroom.name%></td>
      <td><%=assignment.created_at.strftime('%a. %B %d')%></td>
      <td><%=assignment.status%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= paginate @assignments %>


