<h1 class="aligncenter">View All Assignments</h1>

<div class="assignment-table">
<table>
  <thead>
    <th><%= link_to "Assignment Title", sort: 'assignment'%></th>
    <th><%= link_to "Classroom", sort: 'classroom'%></th>
    <th><%= link_to "Date Created", sort: 'created_at'%></th>
    <th><%= link_to "Status", sort: 'status'%></th>
  </thead>
  <tbody>
    <% @assignments.each do |assignment| %>
    <tr>
      <td>
        <% if current_user.is_teacher? %>
          <%= link_to assignment.title, assignment%>
        <% else %>
          <%= link_to assignment.title, new_assignment_submission_path(assignment) %>
        <% end %>
      </td>
      <td><%= assignment.classroom.name%></td>
      <td><%=assignment.created_at.strftime('%a. %B %d')%></td>
      <td><%=assignment.status%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= paginate @assignments %>
