<h1 class="aligncenter">Create Assignment</h1>
<section class="row">
  <div class="small-12 large-8 large-offset-2 column">
    <fieldset>
      <%= simple_form_for(@assignment) do |f| %>
        <%= f.input :classroom_id, collection: @classrooms, include_blank: true, label: "Classroom" %>
        <%= f.input :video_link, label: 'Video URL' %>
        <%= f.input :title %>
        <%= f.input :description %>

        <h1>Questions:</h1>
          <% n = 1 %>
          <%= f.simple_fields_for :questions do |builder| %>
            <fieldset>
              <div class=<%= "question_#{n}" %>>
                <%= builder.input :prompt, label: "Question" %>
              </div>

              <h5>Choices:</h5>
              <% c = 1%>
              <%= builder.simple_fields_for :options do |builder_choice| %>
                <div class=<%= "question_#{n}_option_#{c}" %>>
                  <%= builder_choice.input :option_value, label: "Option" %>
                  <%= builder_choice.input :weight, label: "Weight", collection: [0,1], include_blank: false %>
                </div>
                <% c = c + 1 %>
              <% end %>
            <% n = n + 1 %>
            </fieldset>
          <% end %>
        <div class="aligncenter"><%= f.button :submit%></div>
      <% end %>
    </fieldset>
  </div>
</section>
