<h1>Create Assignment</h1>


<%= simple_form_for(@assignment) do |f| %>
  <%= f.input :classroom_id, collection: @classrooms, include_blank: true, label: "Classroom" %>
  <%= f.input :video_link, label: 'Video URL' %>
  <%= f.input :title %>
  <%= f.input :description %>

  <h1>Questions:</h1>
    <% n = 1 %>
    <%= f.simple_fields_for :questions do |builder| %>
      <div class=<%="question_#{n}"%>><%= builder.input :prompt, label: "Question" %></div>
      <% n = n + 1 %>
    <% end %>
  <%= f.button :submit %>
<% end %>
