<h1>Create Assignment</h1>


<%= simple_form_for(@assignment) do |f| %>
  <%= f.input :classroom_id, collection: @classrooms, include_blank: true, label: "Classroom" %>
  <%= f.input :video_link, label: 'Video URL' %>
  <%= f.input :title %>
  <%= f.input :description %>
  <h1>Questions: Leave Blank if you want</h1>
    <%= f.simple_fields_for :question do |builder| %>
      <%= builder.input :prompt, label: 'Question #1' %>
    <% end %>
    <%= f.simple_fields_for :question do |builder| %>
      <%= builder.input :prompt, label: 'Question #2' %>
    <% end %>
    <%= f.simple_fields_for :question do |builder| %>
      <%= builder.input :prompt, label: 'Question #3' %>
    <% end %>
  <%= f.button :submit %>
<% end %>
