<h1 class="aligncenter">Create Assignment</h1>
<section class="row">
  <div class="small-12 large-8 large-offset-2 column">
    <fieldset>
      <%= simple_form_for(@assignment) do |f| %>
        <%= f.input :classroom_id, collection: @classrooms, include_blank: true, label: "Classroom" %>
        <%= f.input :video_link, label: 'Video URL' %>
        <%= f.input :title %>
        <%= f.input :description %>

        <h3>Questions:</h3>
          <%= f.simple_fields_for :questions do |question| %>
            <div class="task_fields"><%= render 'question_fields', f: question %></div>
            <div class="links">
              <%= link_to_add_association 'Add Question', f, :questions %>
            </div>
          <% end %>

        <div class="aligncenter"><%= f.button :submit%></div>
      <% end %>
    </fieldset>
  </div>
</section>
