<section class="row"  id="signup">
  <div class="small-12 large-4 small-centered large-centered column">
    <h3 class="aligncenter title">Edit</h3>
      <fieldset>
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="clearfix">
          <div class="input">
            <%= f.input :first_name %>
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.input :last_name %>
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.input :email %>
          </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="clearfix">
          <div class="input">
            <%= f.input :password %><i>(leave blank if you don't want to change it)</i><br />
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.input :password_confirmation %>
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
          <%= f.input :current_password %> <i>(we need your current password to confirm your changes)
          </div>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.submit "Update" %>
          </div>
          </div>
        <% end %>
      </fieldset>
  </div>
</section>
