<section class="row"  id="signup">
  <div class="small-12 large-4 large-offset-2 column">
    <h3 class="aligncenter title">Sign Up</h3>
      <fieldset>
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="clearfix input">
            <%= f.input :first_name %>
            </div>

          <div class="clearfix input">
            <%= f.input :last_name %>
          </div>

          <div class="clearfix input">
            <%= f.input :role, label: 'I am a ...', collection: User.role_options, include_blank: false %>
          </div>
          <br>

          <div class="clearfix input">
            <%= f.input :email %>
          </div>

          <div class="clearfix">
          <div class="input">
            <%= f.input :password %>
          </div>
          </div>

          <div class="clearfix input">
            <%= f.input :password_confirmation %>
          </div>

          <div class="clearfix input aligncenter">
            <%= f.button :submit, 'Sign Up' %>
          </div>
        <% end %>
        <fieldset>
    </div>
    <div class="small-12 large-4 column left">
      <h2>Why schools love it ...</h2><br>
      <h4>Teachers:</h4>
      <ul class="list-unstyled link-list">
      <li><i class="icon-ok icon-blue icon-2x"></i> Curate video lessons from Youtube or Vimeo</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Assign students video lessons for homework</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Get student data for your lesson before entering the classroom</li>
      </ul><br><br>
      <h4>Students:</h4>
      <ul class="list-unstyled link-list">
      <li><i class="icon-ok icon-blue icon-2x"></i> Organized list of assignments</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Learn new material at your own pace</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Have teachers adjust their lessons for you</li>
      </ul>
      <br />
    </div>
</section>

